In [2]:
import sys
import re

import pandas as pd
import numpy as np
# from scipy import spatial
# from datetime import datetime, timedelta
# from itertools import tee
# from operator import itemgetter
# from collections import defaultdict
# from math import log


import matplotlib.pyplot as plt
import seaborn as sns
# from wordcloud import WordCloud

# from pyvi import ViTokenizer

In [3]:
import pandas as pd
 
pd.__version__

'2.2.0'

In [ ]:
# !{sys.executable} -m pip install  -r requirements.txt

# Read data and join data

In [8]:
# users = pd.read_csv("dataset/users.csv")
# reading = pd.read_csv("dataset/reading.csv")
# articles = pd.read_csv("dataset/articles.csv")
store = pd.read_csv("dataset/SuperStore.csv")
customers = pd.read_csv("dataset/Customers.csv")

In [4]:
# len(reading), len(articles), len(users)
len(store),len(customers)

(1048575, 1048575)

In [ ]:
# data = pd.merge(reading, articles, on=['article_id'])
# data = pd.merge(data, users, on = ['user_id'])

In [4]:
print(customers.to_string())

# Removing NULL Variables

In [ ]:
store = pd.read_csv("dataset/SuperStore.csv")
new_store = store.dropna(inplace=True)
print(store.to_string())

In [ ]:
store = pd.read_csv("dataset/SuperStore.csv")
new_store = store.dropna(inplace=True)
print(store.to_string())

In [13]:
store = pd.read_csv("dataset/SuperStore.csv")
print(store.duplicated())

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Length: 1048575, dtype: bool

Customers

In [ ]:
new_customers = customers.dropna()
print(customers.to_string())
print(customers.duplicated())

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Length: 1048575, dtype: bool

In [6]:
store.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Australia,Meat,Online,C,4/4/2011,451691138,5/23/2011,4300,421.89,364.69,1814127.00,1568167.00,245960.00
1,Asia,Tajikistan,Personal Care,Online,L,7/12/2018,144177377,8/1/2018,4145,81.73,56.67,338770.85,234897.15,103873.70
2,Sub-Saharan Africa,Mozambique,Cosmetics,Online,H,7/6/2011,982716166,7/17/2011,6407,437.20,263.33,2801140.40,1687155.31,1113985.09
3,Central America and the Caribbean,Panama,Personal Care,Offline,L,5/1/2011,784543836,5/11/2011,2810,81.73,56.67,229661.30,159242.70,70418.60
4,North America,Canada,Fruits,Online,H,11/15/2013,137209212,12/29/2013,2110,9.33,6.92,19686.30,14601.20,5085.10

# Data Exploration

In [3]:
def group_count_and_sort(df, fields= None, sort_fields = None, count_fieild = None, ascending=False):
    new_df = df.groupby(fields).count()\
                .sort_values(sort_fields, ascending=ascending)[count_fieild]\
                .reset_index()
    new_df.rename(columns = {count_fieild:'count'}, inplace = True)
    return new_df

def draw_bar(x, y, xlabel, ylabel, title= None, rotation = 0, figsize= (12,4), fontsize= 20):
    plt.figure(figsize = figsize)
    plt.xticks(rotation = rotation)
    plt.ticklabel_format(style='sci', scilimits=(0,3), useMathText= True)
    plt.bar(x =x, height= y)
    plt.xlabel(xlabel, fontsize= fontsize)
    plt.ylabel(ylabel, fontsize= fontsize)
    plt.title(title)
    plt.savefig('images/'+title + ".pdf")

## The number of views by TotalProfit and Customer

### The number of views by Order Priority

In [14]:
OP_count = group_count_and_sort(store, fields='Order Priority', sort_fields='Order ID', count_fieild= 'Order ID')

In [15]:
OP_count.head()

  Order Priority   count
0              C  262260
1              H  262213
2              M  262070
3              L  262032

In [8]:
import pandas as pd

# Giả sử df là DataFrame chứa dữ liệu đơn hàng
# df có các cột: Order, TotalProfit

# Tính tổng cộng lợi nhuận của mỗi đơn hàng
total_profit_per_orderP = store.groupby('Order Priority')['Total Profit'].sum().reset_index()

# In ra kết quả
print(total_profit_per_orderP)

  Order Priority  Total Profit
0              C  1.028532e+11
1              H  1.029759e+11
2              L  1.029160e+11
3              M  1.032360e+11

In [12]:
sns.set(font_scale=1.5)

In [ ]:
draw_bar(x = OP_count['Order Priority'], y = OP_count['count'], xlabel= 'Order Priority', ylabel = 'Number of views', title="Number of views by OP", figsize= (12,6))
# total_profit_per_customer = df.groupby('Emp ID')['TotalProfit'].sum().reset_index()

# plt.figure(figsize=(12, 6))
# sns.scatterplot(x='TotalProfit', y='CustomerSatisfaction', data=store)
# plt.xlabel('Tổng cộng lợi nhuận')
# plt.ylabel('Mức độ hài lòng của khách hàng')
# plt.title('Mối quan hệ giữa Tổng cộng lợi nhuận và Mức độ hài lòng của khách hàng')
# plt.show()

In [71]:
#g = sns.catplot(data=age_count, x="age", y="count", kind="bar")

## Moi quan he giua Order Priority va Item type

In [ ]:
plt.figure(figsize=(12, 6))
sns.countplot(x='Order Priority', hue='Item Type', data=store)
plt.title('Mối quan hệ giữa OrderPriority và Item')
plt.show()

## Product in each Region

Product in Asia

In [9]:
store_asia = store[store['Region'] == 'Asia']

In [7]:
# Đếm số lượng đơn hàng theo Order Priority
order_priority_counts = store_asia['Order Priority'].value_counts()

# In ra kết quả
print(order_priority_counts)

Order Priority
C    38408
L    38348
H    38337
M    38018
Name: count, dtype: int64

In [6]:
# Tính tổng cộng lợi nhuận theo Order Priority
total_profit_by_priority = store_asia.groupby('Order Priority')['Total Profit'].sum().reset_index()
# In ra kết quả
print(total_profit_by_priority)

  Order Priority  Total Profit
0              C  1.505867e+10
1              H  1.508010e+10
2              L  1.514804e+10
3              M  1.486481e+10

In [ ]:
plt.figure(figsize=(10, 6))
sns.countplot(x='Order Priority', data=store_asia)
plt.title('Phân phối Sự ưu tiên Đơn hàng tại khu vực Asia')
plt.show()

In [ ]:
# Tạo boxplot để thấy phân phối lợi nhuận tại khu vực Asia dựa trên loại sản phẩm
plt.figure(figsize=(14, 6))
sns.boxplot(x='Item Type', y='Total Profit', data=store_asia)
plt.title('Phân phối lợi nhuận tại khu vực Asia dựa trên loại sản phẩm')
plt.show()

Product in Europe

In [11]:
store_eu = store[store['Region'] == 'Europe']

In [9]:
# Đếm số lượng đơn hàng theo Order Priority
order_priority_counts_eu = store_eu['Order Priority'].value_counts()

# In ra kết quả
print(order_priority_counts_eu)

Order Priority
H    68094
L    67962
C    67949
M    67935
Name: count, dtype: int64

In [ ]:
# Tạo boxplot để thấy phân phối lợi nhuận tại khu vực EU dựa trên loại sản phẩm
plt.figure(figsize=(14, 6))
sns.boxplot(x='Item Type', y='Total Profit', data=store_eu)
plt.title('Phân phối lợi nhuận tại khu vực EU dựa trên loại sản phẩm')
plt.show()

Product in Africa

In [3]:
store_af = store[store['Region'] == 'Sub-Saharan Africa']
store_af1 = store[store['Region'] == 'Middle East and North Africa']
new_storeaf = pd.concat([store_af, store_af1], axis=0)

In [4]:
print(new_storeaf)

                               Region                           Country  \
2                  Sub-Saharan Africa                        Mozambique
11                 Sub-Saharan Africa                        Madagascar
14                 Sub-Saharan Africa                           Eritrea
15                 Sub-Saharan Africa                          Botswana
22                 Sub-Saharan Africa  Democratic Republic of the Congo
...                               ...                               ...
1048558  Middle East and North Africa                             Syria
1048560  Middle East and North Africa                           Bahrain
1048564  Middle East and North Africa                           Morocco
1048570  Middle East and North Africa                           Lebanon
1048571  Middle East and North Africa                             Egypt

               Item Type Sales Channel Order Priority Order Date   Order ID  \
2              Cosmetics        Online              H   7/6/2011  982716166
11                Fruits        Online              L  6/17/2014  349049222
14                  Meat       Offline              H  11/9/2012  894116580
15                Cereal        Online              M  2/11/2017  643594396
22                Fruits        Online              H   3/8/2013  604410541
...                  ...           ...            ...        ...        ...
1048558           Cereal       Offline              H  6/19/2010  780861270
1048560       Vegetables        Online              L   4/4/2011  670010077
1048564  Office Supplies       Offline              H  5/24/2010  333555495
1048570           Fruits        Online              C  2/28/2017  466602504
1048571           Fruits       Offline              C  5/23/2019  447177731

          Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
2         7/17/2011        6407      437.20     263.33     2801140.40
11        7/10/2014         276        9.33       6.92        2575.08
14       12/13/2012        7820      421.89     364.69     3299179.80
15        2/24/2017        2739      205.70     117.11      563412.30
22        3/25/2013        7365        9.33       6.92       68715.45
...             ...         ...         ...        ...            ...
1048558   7/11/2010        3057      205.70     117.11      628824.90
1048560   4/30/2011        9726      154.06      90.93     1498387.56
1048564   6/18/2010        5338      651.21     524.96     3476158.98
1048570   4/15/2017        6905        9.33       6.92       64423.65
1048571   6/25/2019        8683        9.33       6.92       81012.39

         Total Cost  Total Profit
2        1687155.31    1113985.09
11          1909.92        665.16
14       2851875.80     447304.00
15        320764.29     242648.01
22         50965.80      17749.65
...             ...           ...
1048558   358005.27     270819.63
1048560   884385.18     614002.38
1048564  2802236.48     673922.50
1048570    47782.60      16641.05
1048571    60086.36      20926.03

[402506 rows x 14 columns]

In [5]:
# Đếm số lượng đơn hàng theo Order Priority
order_priority_counts_af = new_storeaf['Order Priority'].value_counts()

# In ra kết quả
print(order_priority_counts_af)

Order Priority
M    100746
C    100652
L    100560
H    100548
Name: count, dtype: int64

In [ ]:
# Tạo boxplot để thấy phân phối lợi nhuận tại khu vực Africa dựa trên loại sản phẩm
plt.figure(figsize=(14, 6))
sns.boxplot(x='Item Type', y='Total Profit', data=new_storeaf)
plt.title('Phân phối lợi nhuận tại khu vực Africa dựa trên loại sản phẩm')
plt.show()

Product in America

In [4]:
store_am = store[store['Region'] == 'North America']
store_am1 = store[store['Region'] == 'Central America and the Caribbean']
new_stoream = pd.concat([store_am, store_am1], axis=0)

In [5]:
print(new_stoream)

                                    Region                   Country  \
4                            North America                    Canada
172                          North America                    Canada
262                          North America                    Canada
281                          North America  United States of America
287                          North America                 Greenland
...                                    ...                       ...
1048493  Central America and the Caribbean                 Guatemala
1048499  Central America and the Caribbean                  Barbados
1048546  Central America and the Caribbean                  Honduras
1048559  Central America and the Caribbean                     Haiti
1048574  Central America and the Caribbean                   Grenada

               Item Type Sales Channel Order Priority  Order Date   Order ID  \
4                 Fruits        Online              H  11/15/2013  137209212
172            Cosmetics        Online              C  12/17/2018  572010314
262                 Meat        Online              C   2/10/2012  952780139
281                 Meat        Online              C   1/10/2017  575620782
287      Office Supplies        Online              C    5/9/2018  704355657
...                  ...           ...            ...         ...        ...
1048493        Baby Food       Offline              L   11/5/2014  748306977
1048499        Beverages        Online              C    6/3/2017  448465192
1048546        Household       Offline              M   3/28/2015  224343669
1048559             Meat        Online              H    7/7/2012  638005101
1048574          Clothes        Online              L  11/20/2014  149593722

          Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
4        12/29/2013        2110        9.33       6.92       19686.30
172       1/21/2019        9418      437.20     263.33     4117549.60
262       3/27/2012        7671      421.89     364.69     3236318.19
281       2/19/2017        7836      421.89     364.69     3305930.04
287       6/19/2018        3346      651.21     524.96     2178948.66
...             ...         ...         ...        ...            ...
1048493  11/29/2014        9518      255.28     159.42     2429755.04
1048499   6/18/2017        9671       47.45      31.79      458888.95
1048546    4/4/2015        7132      668.27     502.54     4766101.64
1048559   7/16/2012        8742      421.89     364.69     3688162.38
1048574    1/6/2015        6962      109.28      35.84      760807.36

         Total Cost  Total Profit
4          14601.20       5085.10
172      2480041.94    1637507.66
262      2797536.99     438781.20
281      2857710.84     448219.20
287      1756516.16     422432.50
...             ...           ...
1048493  1517359.56     912395.48
1048499   307441.09     151447.86
1048546  3584115.28    1181986.36
1048559  3188119.98     500042.40
1048574   249518.08     511289.28

[136106 rows x 14 columns]

In [7]:
# Đếm số lượng đơn hàng theo Order Priority
order_priority_counts_am = new_stoream['Order Priority'].value_counts()

# In ra kết quả
print(order_priority_counts_am)

Order Priority
M    34140
C    34128
L    33965
H    33873
Name: count, dtype: int64

In [ ]:
# Tạo boxplot để thấy phân phối lợi nhuận tại khu vực Ameica dựa trên loại sản phẩm
plt.figure(figsize=(14, 6))
sns.boxplot(x='Item Type', y='Total Profit', data=new_stoream)
plt.title('Phân phối lợi nhuận tại khu vực America dựa trên loại sản phẩm')
plt.show()

Product in Oceania

In [9]:
store_au = store[store['Region'] == 'Australia and Oceania']

In [10]:
print(store_au)

                        Region                         Country  \
0        Australia and Oceania                       Australia
7        Australia and Oceania                       Australia
10       Australia and Oceania                Papua New Guinea
16       Australia and Oceania  Federated States of Micronesia
19       Australia and Oceania  Federated States of Micronesia
...                        ...                             ...
1048555  Australia and Oceania                Marshall Islands
1048561  Australia and Oceania                           Nauru
1048563  Australia and Oceania                        Kiribati
1048566  Australia and Oceania  Federated States of Micronesia
1048573  Australia and Oceania                      East Timor

               Item Type Sales Channel Order Priority  Order Date   Order ID  \
0                   Meat        Online              C    4/4/2011  451691138
7              Cosmetics       Offline              L   4/30/2019  180407369
10             Beverages        Online              H   8/28/2013  682902705
16             Household       Offline              C   3/25/2017  778870856
19                Snacks       Offline              H    8/6/2015  417167890
...                  ...           ...            ...         ...        ...
1048555           Fruits       Offline              C    1/5/2013  447170865
1048561             Meat        Online              C  10/11/2016  578487527
1048563  Office Supplies       Offline              L    7/8/2010  532867658
1048566        Baby Food       Offline              C    7/6/2016  846233355
1048573        Cosmetics        Online              H   10/9/2018  158155763

          Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
0         5/23/2011        4300      421.89     364.69     1814127.00
7         5/25/2019        5404      437.20     263.33     2362628.80
10        9/18/2013        4941       47.45      31.79      234450.45
16         5/3/2017        4049      668.27     502.54     2705825.23
19         8/8/2015        8104      152.58      97.44     1236508.32
...             ...         ...         ...        ...            ...
1048555    1/6/2013        6651        9.33       6.92       62053.83
1048561  11/30/2016        6169      421.89     364.69     2602639.41
1048563    8/5/2010        6236      651.21     524.96     4060945.56
1048566   8/22/2016        8110      255.28     159.42     2070320.80
1048573  10/14/2018         660      437.20     263.33      288552.00

         Total Cost  Total Profit
0        1568167.00     245960.00
7        1423035.32     939593.48
10        157074.39      77376.06
16       2034784.46     671040.77
19        789653.76     446854.56
...             ...           ...
1048555    46024.92      16028.91
1048561  2249772.61     352866.80
1048563  3273650.56     787295.00
1048566  1292896.20     777424.60
1048573   173797.80     114754.20

[84912 rows x 14 columns]

In [12]:
# Đếm số lượng đơn hàng theo Order Priority
order_priority_counts_au = store_au['Order Priority'].value_counts()

# In ra kết quả
print(order_priority_counts_au)

Order Priority
H    21361
M    21231
L    21197
C    21123
Name: count, dtype: int64

In [ ]:
# Tạo boxplot để thấy phân phối lợi nhuận tại khu vực Ameica dựa trên loại sản phẩm
plt.figure(figsize=(15, 6))
sns.boxplot(x='Item Type', y='Total Profit', data=store_au)
plt.title('Phân phối lợi nhuận tại khu vực Chau Dai Duong dựa trên loại sản phẩm')
plt.show()

## Statistics according to sales channels

In [14]:
# Đếm số lượng dòng theo Sales Channel
sales_channel_counts = store['Sales Channel'].value_counts()
print(sales_channel_counts)

Sales Channel
Offline    524331
Online     524244
Name: count, dtype: int64

In [18]:
sales_channel_counts_by_region = store.groupby(['Region', 'Sales Channel']).size().reset_index(name='Count')
print(sales_channel_counts_by_region)

                               Region Sales Channel   Count
0                                Asia       Offline   76564
1                                Asia        Online   76547
2               Australia and Oceania       Offline   42425
3               Australia and Oceania        Online   42487
4   Central America and the Caribbean       Offline   56907
5   Central America and the Caribbean        Online   56604
6                              Europe       Offline  135924
7                              Europe        Online  136016
8        Middle East and North Africa       Offline   65277
9        Middle East and North Africa        Online   65031
10                      North America       Offline   11161
11                      North America        Online   11434
12                 Sub-Saharan Africa       Offline  136073
13                 Sub-Saharan Africa        Online  136125

In [ ]:
plt.figure(figsize=(20, 8))
sns.barplot(x='Region', y='Count', hue='Sales Channel', data=sales_channel_counts_by_region)
plt.title('Số lượng thống kê theo Sales Channel và Region')
plt.show()

## Mối quan hệ giữa Khách hàng (Customer) và Sản phẩm (Product)

In [ ]:
# Đọc dữ liệu từ file Customers.csv và SuperStore.csv
customers_df = pd.read_csv('dataset/Customers.csv')
superstore_df = pd.read_csv('dataset/SuperStore.csv')

# Kết hợp hai DataFrame theo giới tính và ngày sinh
# merged_df = customers_df.merge(superstore_df, how='outer')
customers_df['dummy'] = 1
superstore_df['dummy'] = 1
merged_df = pd.concat([customers_df, superstore_df], axis=1)
# Tạo Scatter plot
plt.figure(figsize=(18, 6))
sns.scatterplot(x='Date of Birth', y='Item Type', hue='Gender', data=merged_df, alpha=0.7)
plt.title('Mối quan hệ giữa Gender, DateOfBirth và ItemType')
plt.show()

# Search by Order ID

In [3]:
import pandas as pd

# Đọc dữ liệu từ file SuperStore.csv
superstore_df = pd.read_csv("dataset/SuperStore.csv", encoding='utf-8')

# Nhập Order ID bạn muốn tìm kiếm
desired_order_id = 159566819  # Thay thế bằng Order ID bạn muốn tìm kiếm

# Tìm kiếm đơn hàng theo Order ID
result_order = superstore_df.loc[superstore_df['Order ID'] == desired_order_id]

# Hiển thị kết quả
print(result_order)

    Region Country Item Type Sales Channel Order Priority  Order Date  \
21  Europe  Kosovo    Cereal       Offline              H  12/17/2013

     Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  Total Revenue  \
21  159566819  12/24/2013        8223       205.7     117.11      1691471.1

    Total Cost  Total Profit
21   962995.53     728475.57

In [5]:
import pandas as pd

# Đọc dữ liệu từ file SuperStore.csv
superstore_df = pd.read_csv("dataset/SuperStore.csv", encoding='utf-8')

# Nhập Order ID bạn muốn tìm kiếm
desired_region = 'Asia'  # Thay thế bằng Order ID bạn muốn tìm kiếm

# Tìm kiếm đơn hàng theo Order ID
result_order = superstore_df.loc[superstore_df['Region'] == desired_region]

# Hiển thị kết quả
print(result_order)

        Region     Country      Item Type Sales Channel Order Priority  \
1         Asia  Tajikistan  Personal Care        Online              L
9         Asia       Japan        Clothes        Online              M
17        Asia  Uzbekistan           Meat       Offline              M
23        Asia       India         Snacks       Offline              L
24        Asia      Taiwan        Clothes       Offline              L
...        ...         ...            ...           ...            ...
1048530   Asia    Thailand  Personal Care       Offline              M
1048537   Asia  Uzbekistan        Clothes        Online              L
1048538   Asia    Mongolia        Clothes        Online              L
1048541   Asia       China        Clothes        Online              L
1048569   Asia        Laos         Fruits       Offline              M

         Order Date   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
1         7/12/2018  144177377    8/1/2018        4145       81.73      56.67
9         3/25/2018  349185693    4/8/2018         661      109.28      35.84
17       12/11/2017  551557290  12/20/2017        6914      421.89     364.69
23         8/6/2019  822894704   9/25/2019        1684      152.58      97.44
24        5/22/2016  108818137    7/9/2016         560      109.28      35.84
...             ...        ...         ...         ...         ...        ...
1048530   7/23/2012  415279185   7/29/2012        9194       81.73      56.67
1048537   7/13/2012  360728204   7/13/2012        6347      109.28      35.84
1048538   5/25/2014  194567286   5/27/2014        5639      109.28      35.84
1048541   9/23/2011  515856873  10/26/2011        2367      109.28      35.84
1048569  11/13/2012  795800530  12/25/2012        3916        9.33       6.92

         Total Revenue  Total Cost  Total Profit
1            338770.85   234897.15     103873.70
9             72234.08    23690.24      48543.84
17          2916947.46  2521466.66     395480.80
23           256944.72   164088.96      92855.76
24            61196.80    20070.40      41126.40
...                ...         ...           ...
1048530      751425.62   521023.98     230401.64
1048537      693600.16   227476.48     466123.68
1048538      616229.92   202101.76     414128.16
1048541      258665.76    84833.28     173832.48
1048569       36536.28    27098.72       9437.56

[153111 rows x 14 columns]

<!-- ### The number of views by gender -->

In [11]:
# gender_count_df = group_count_and_sort(data, fields='gender', sort_fields='user_id', count_fieild= 'user_id')

In [ ]:
# female = gender_category_df[gender_category_df['gender'] == 'Female']
# male = gender_category_df[gender_category_df['gender'] == 'Male']

# draw_bar(x = male['category'], y = male['count'], \
#          xlabel= 'category', ylabel = 'Number of views', figsize= (20,6),\
#         title= 'Male: most views categories', rotation = 30)
# draw_bar(x = female['category'], y = female['count'], \
#          xlabel= 'category', ylabel = 'Number of views', figsize= (20,6),\
#         title= 'Female: most views categories', rotation = 30)

### Most read categories by age

In [62]:
# age_category_df = group_count_and_sort(data, fields=['age', 'category'], sort_fields= ['age', 'user_id'], count_fieild= 'user_id')

# age_category_df['percentage'] = age_category_df.groupby('age')['count']\
#                                                 .apply(lambda x: 100*x/float(x.sum()))

In [ ]:
# age_category_df.head()

In [64]:
# top_categories = set(age_category_df.groupby('age').head(5)['category'])

# ages = list(age_category_df[age_category_df['category'] == 'Game'].reset_index().reindex([0, 6, 5, 4, 3, 2, 1])['age'])

In [ ]:
# ages, list(top_categories)

In [ ]:
# categories = ['Giải trí', 'Đời sống', 'Pháp luật', 'Thể thao', 'Game' ,'Tin thế giới']
# colors = sns.color_palette('pastel')

# bars = []
# width = 0.12
# plt.figure(figsize = (20, 6))
# ind = np.arange(len(ages)) 
# for i, cat in enumerate(categories):
#     percentages = list(age_category_df[age_category_df['category'] == cat].reset_index().reindex([0, 6, 5, 4, 3, 2, 1])['percentage'])
#     bars.append(plt.bar(ind + width*i, percentages, width, color = colors[i]))
    
# plt.xlabel('Age')
# plt.ylabel('percentage (%)')
# plt.title("The percentage of categories by age")

# plt.xticks(ind+width*2.5, ages)
# plt.legend( bars, categories, ncol=3,loc="upper right")
# plt.savefig('images/percentage_category_by_age.pdf')
# plt.show()

### Most reading Hours by age

In [46]:
# times = pd.to_datetime(data.event_time)
# age_read_hour = group_count_and_sort(data, fields=['age',times.dt.hour], sort_fields= ['age', 'user_id'], count_fieild= 'user_id')

In [47]:
# age_read_hour['percentage'] = age_read_hour.groupby('age')['count']\
#                                                 .apply(lambda x: 100*x/float(x.sum()))

In [ ]:
# age_read_hour.head()

In [53]:
# top_hours = list(set(age_read_hour.groupby('age').head(3)['event_time']))

In [ ]:
# colors = sns.color_palette("husl", 9)
# bars = []
# width = 0.12
# plt.figure(figsize = (20, 6))
# ind = np.arange(len(top_hours)) 
# for i, hour in enumerate(top_hours):
#     percentages = list(age_read_hour[age_read_hour['event_time'] == hour].reset_index().reindex([0, 6, 5, 4, 3, 2, 1])['percentage'])
#     bars.append(plt.bar(ind + width*i, percentages, width, color = colors[i]))
    
# plt.xlabel('Age')
# plt.ylabel('percentage (%)')
# plt.title("The percentage of reading hours by age")

# plt.xticks(ind+width*2.5, ages)
# plt.legend( bars, top_hours, ncol=7,loc="upper right")
# # plt.savefig('images/percentage_category_by_age.pdf')
# plt.show()

In [ ]:
# data.groupby([times.dt.dayofweek]).count()['user_id'].reset_index()

## Top key words

### Top weekly key words

In [ ]:
# times = pd.to_datetime(data.published_time)
# articles.groupby([times.dt.date]).count()

In [16]:
# stopwords = open("dataset/stopwords.txt", "r").read()
# stopwords = set(stopwords.split('\n'))

In [17]:
# titles = articles['title'].str.lower().apply(ViTokenizer.tokenize)
# title = ' '.join(titles)

In [ ]:
# wordcloud = WordCloud(width = 800, height = 800,
#                 background_color ='white',
#                 stopwords = stopwords,
#                 min_font_size = 10).generate(title)

# # plot the WordCloud image                      
# plt.figure(figsize = (8, 8), facecolor = None)
# plt.imshow(wordcloud)
# plt.axis("off")
# plt.tight_layout(pad = 0)
# plt.title("Keywords xuat hien nhieu")

# plt.savefig('images/hot_topic.pdf')
# plt.show()

### Daily: key words trending

In [19]:
# times = pd.to_datetime(articles.published_time)
# daily_article_titles = articles.groupby(times.dt.date).agg({'title': ' '.join})['title']\
#                .str.lower()\
#                .apply(ViTokenizer.tokenize)

In [26]:
# def l(k, n, x):  # noqa: E741, E743
#     # dunning's likelihood ratio with notation from
#     # http://nlp.stanford.edu/fsnlp/promo/colloc.pdf p162
#     return log(max(x, 1e-10)) * k + log(max(1 - x, 1e-10)) * (n - k)


# def score(count_bigram, count1, count2, n_words):
#     """Collocation score"""
#     if n_words <= count1 or n_words <= count2:
#         # only one words appears in the whole document
#         return 0
#     N = n_words
#     c12 = count_bigram
#     c1 = count1
#     c2 = count2
#     p = c2 / N
#     p1 = c12 / c1
#     p2 = (c2 - c12) / (N - c1)
#     score = (l(c12, c1, p) + l(c2 - c12, N - c1, p)
#              - l(c12, c1, p1) - l(c2 - c12, N - c1, p2))
#     return -2 * score


# def pairwise(iterable):
#     # from itertool recipies
#     # is -> (s0,s1), (s1,s2), (s2, s3), ...
#     a, b = tee(iterable)
#     next(b, None)
#     return zip(a, b)


# def unigrams_and_bigrams(words, stopwords, normalize_plurals=True, collocation_threshold=30):
#     # We must create the bigrams before removing the stopword tokens from the words
#     bigrams = list(p for p in pairwise(words) if not any(w.lower() in stopwords for w in p))
#     unigrams = list(w for w in words if w.lower() not in stopwords)
#     n_words = len(unigrams)
#     counts_unigrams, standard_form = process_tokens(unigrams)
#     counts_bigrams, standard_form_bigrams = process_tokens(
#         [" ".join(bigram) for bigram in bigrams])
    
#     # create a copy of counts_unigram so the score computation is not changed
#     orig_counts = counts_unigrams.copy()

#     # Include bigrams that are also collocations
#     for bigram_string, count in counts_bigrams.items():
#         bigram = tuple(bigram_string.split(" "))
#         word1 = standard_form[bigram[0].lower()]
#         word2 = standard_form[bigram[1].lower()]

#         collocation_score = score(count, orig_counts[word1], orig_counts[word2], n_words)
#         if collocation_score > collocation_threshold:
#             # bigram is a collocation
#             # discount words in unigrams dict.  Because one word might
#             # appear in multiple collocations at the same time
#             # (leading to negative counts)
#             counts_unigrams[word1] -= counts_bigrams[bigram_string]
#             counts_unigrams[word2] -= counts_bigrams[bigram_string]
#             counts_unigrams[bigram_string] = counts_bigrams[bigram_string]
#     for word, count in list(counts_unigrams.items()):
#         if count <= 0:
#             del counts_unigrams[word]
#     return counts_unigrams


# def process_tokens(words):
#     # words can be either a list of unigrams or bigrams
#     # d is a dict of dicts.
#     # Keys of d are word.lower(). Values are dicts
#     # counting frequency of each capitalization
#     d = defaultdict(dict)
#     for word in words:
#         word_lower = word.lower()
#         # get dict of cases for word_lower
#         case_dict = d[word_lower]
#         # increase this case
#         case_dict[word] = case_dict.get(word, 0) + 1
#     fused_cases = {}
#     standard_cases = {}
#     item1 = itemgetter(1)
#     for word_lower, case_dict in d.items():
#         # Get the most popular case.
#         first = max(case_dict.items(), key=item1)[0]
#         fused_cases[first] = sum(case_dict.values())
#         standard_cases[word_lower] = first
        
#     return fused_cases, standard_cases

In [27]:
# def process_text(text):
#     words  = re.findall(r"\w[\w']*", text)
#     return [word.lower() for word in words if not word.isnumeric()]

# def word_count(words, stopwords, n):
#     word_counts = unigrams_and_bigrams(words, stopwords, False, 30)
#     return dict(sorted(word_counts.items(), key=lambda item: item[1],  reverse=True)[:n])

# def count_term_frequency(words):
#     term_frequency = {}
#     for word in words:
#         if word in term_frequency:
#             term_frequency[word] +=1 
#         else:
#             term_frequency[word] = 1
#     return term_frequency

In [30]:
# label = []
# x = []
# y = []
# n = 7
# for i in range(len(daily_article_titles)):  
#     words = process_text(daily_article_titles[i])
#     res = word_count(words, stopwords, n)
#     x.extend([str(daily_article_titles.index[i])]*n)
#     y.extend(res.values())
#     label.extend(res.keys())

In [ ]:
# plt.figure(figsize = (15,8))
# plt.scatter(x, y, c ="maroon")
# plt.rcParams['font.size'] = '16'
# # To show the plot
# for i, l in enumerate(label):
#     plt.annotate(l, (x[i] , y[i]))
# plt.xticks(rotation = 50)
# plt.yscale('log')

# plt.xlabel('Date')
# plt.ylabel('Frequency')
# plt.title('')
# plt.savefig('images/daily_hot_topic.pdf')
# plt.show()

# News recomendation

In [ ]:
# users[users['user_id'] == 15099768449101904560]

In [ ]:
# users[users['user_id'] == 10905364777234019509]

In [ ]:
# data[data['user_id'] == 15099768449101904560].sort_values('published_time', ascending=False).head()

In [ ]:
# data[data['user_id'] == 10905364777234019509].sort_values('published_time', ascending=False).head()

In [22]:
# def vectorized_article(params, all_articles):
#     readed = set(params)
#     return [True if article in readed else False for article in all_articles]

# def cal_cosine_similarity(a, b):
#     return 1 - spatial.distance.cosine(a, b)

# def get_article_ids_by_gender_and_age(gender , age):
#     return data[(data['gender'] == gender) & (data['age'] == age)]\
#       .groupby('article_id')\
#       .groups.keys()

# def cal_similarity_vec(user_id):

#     user = data[data['user_id'] == user_id].iloc[0]
#     article_ids = get_article_ids_by_gender_and_age(user['gender'], user['age'])

#     vectorzied_user = data[(data['gender'] == user['gender']) & (data['age'] == user['age'])]\
#                       .groupby('user_id')['article_id']\
#                       .apply(lambda x : vectorized_article(x, article_ids))

#     user_vec = vectorzied_user[vectorzied_user.index == user_id].iloc[0]

#     similarity_vecs = vectorzied_user[vectorzied_user.index != user_id]\
#                       .apply(lambda x : cal_cosine_similarity(user_vec, x))\
#                       .sort_values(ascending=False)
#     return similarity_vecs

# def generate_recommendations(user_id, recomend_date, day_window=2, top_similar_users=5):

#     date_obj = datetime.strptime(recomend_date, '%Y-%m-%d') - timedelta(days = day_window)
#     similarity_vecs = cal_similarity_vec(user_id)

#     recomends = data[(data['user_id'].isin(similarity_vecs[0:top_similar_users].index)) \
#                    &  (data['published_time'] >  date_obj.strftime('%Y-%m-%d'))]

#     readed_articles = set(data[(data['user_id'] == user_id)]['article_id'])
#     return recomends[~recomends['article_id'].isin(readed_articles)]\
#             [['article_id', 'published_time', 'title', 'domain', 'category']]\
#             .sort_values('published_time', ascending=False)

In [ ]:
# generate_recommendations(15099768449101904560, '2022-04-13')

In [ ]:
# generate_recommendations(10905364777234019509, '2022-04-13')